<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/selic/static/dist/css/bootstrap.min.css" />
	    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="/selic/static/dist/js/popper.min.js" ></script>
		<script src="/selic/static/dist/js/bootstrap.min.js" ></script>

    	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
    	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

	</head>
	<body>

<table width="100%">
	<tr>
		<td>
			<img src="/selic/static/anbima.jpg" style="width:100px;height:100px"/>    
		</td>
		<td>
			<h3>Relatório Taxa Selic</h3>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
			      aria-selected="false">Tabela Referência</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#mediaDiv" role="tab" aria-controls="media"
			      aria-selected="true">Média Anual</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="acumulado-tab" data-toggle="tab" href="#acumuladoDiv" role="tab" aria-controls="acumulado"
			      aria-selected="false">Acumulado Anual</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/selic/api/swagger-ui.html" style="padding-left:100px;font-weight:bold">SELIC SWAGGER API</a>
			  </li>			  
			</ul>		
		</td>		
	</tr>
</table>	

			<div class="tab-content" id="myTabContent" style="padding:20px">
			  	<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					<table id="selicTable" class="display" style="width:100%">
				        <thead>
				            <th>Data de Referência</th>
				            <th>Estimativa Taxa Selic</th>
				        </thead>
				        <tbody>
				        </tbody>
				    </table>
				</div>
				
			  	<div class="tab-pane fade  show active" id="mediaDiv" role="tabpanel" aria-labelledby="media-tab">
			  		<div style="width:800px;float:left">
			  			<canvas id="chartMedia" style="max-width: 800px;"></canvas>
			  		</div>
			  		<div style="padding-left:10px;float:left;width:300px;border:1px solid #eee" id="appMediaDiv">
						<ul id="appMediaDiv" class="list-group">
						  <li class="list-group-item" v-for="Object in chartMediaData">
						  	<span class="badge badge-primary badge-pill"><h6>{{Object.data_referencia}}: {{Object.estimativa_taxa_selic}}%</h6></span>
						  </li> 
						</ul>
					</div>
				</div>
					    
			  	<div class="tab-pane fade" id="acumuladoDiv" role="tabpanel" aria-labelledby="acumulado-tab">
			    	<div style="width:800px;float:left">
			    		<canvas id="chartAcumulado" style="max-width: 800px;"></canvas>
			    	</div>  
			    	<div style="padding-left:10px;float:left;width:300px;border:1px solid gray">
			    		<ul  id="appAcumuladoDiv" class="list-group">
						  <li class="list-group-item" v-for="Object in chartAcumuladoData">
						  	<span class="badge badge-primary badge-pill"><h6>{{Object.data_referencia}}: {{Object.estimativa_taxa_selic}}%</h6></span>
						  </li> 
						</ul>
			    	</div>
			    	  	
				</div>
			</div>		
		    	    	
				<br/><br/>

		    
	</body>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/selic/static/dist/js/mdb.min.js" defer="true"></script>
	<script src="/selic/static/main.js" />		
</html>